<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.epressdistribution.news"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>ePressDistribution.com Daily News</name>

    <description>
        Includes top RSS sources from CNN, BBC, IBN and more
    </description>

    <author href="http://www.epressdistribution.com" email="darren@buildcontent.com">
        ePressDistribution.com
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	

</widget>